<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cool4code.doncampoapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_intro"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClientSecurityActivity"
            android:label="@string/title_activity_client_security"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FarmerHome"
            android:label="@string/title_activity_farmer_home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cool4code.doncampoapp.MainActivity" />
        </activity>
        <activity
            android:name=".AprendozActivity"
            android:label="@string/title_activity_aprendoz"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FarmerOrder"
            android:label="@string/title_activity_farmer_order"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FarmerStock"
            android:label="@string/title_activity_farmer_stock"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ClientHome"
            android:label="@string/title_activity_client_home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cool4code.doncampoapp.MainActivity" />
        </activity>
        <activity
            android:name=".RestfulActivity"
            android:label="@string/title_activity_restful"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewStockForm"
            android:label="@string/title_activity_new_stock_form"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".actions_elements"
            android:label="@string/title_activity_actions_elements"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RestFulGetter"
            android:label="@string/title_activity_rest_ful_getter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SingUp"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_sing_up" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cool4code.doncampoapp.ClientSecurityActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
